colorblue{
  color: blue;
}

@media (min-width: 768px) {
  .col-md-6 {
      float: left;
  }

  .col-xs-2 {
      float: left
  }

  .content1 .col-md-3 {
      float: left;
  }
}

.content1 .col-md-3 {
  text-align: center;
}

.collapsible {
  cursor: pointer;
  outline: none;
}

.active, .content {
  z-index: 1;
  background-color: #fff;
}

.active, .content1 {
  z-index: 1;
  background-color: #fff;
}

.active, .collapsible:hover {
  background-color: #fff;
}

/*.collapsible:after {
      content: "\f107";
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }

.active:after {
  content: "\f106";
}*/

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 89%;
  position: absolute;
}

.content1 {
 /* display:none;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  position: absolute;
}
/*.collapsible.active, .content1{
  display:block;
}*/
/*.box-out-1 {
  margin-left: 1.333333%;
}*/
.box-out {
  /*width: 19.666667%;*/
  padding-left: 0px;
  padding-right: 0px;
}
.roundyellow {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ffbd53;
  border-radius: 50%;
}
.roundgreen {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1dbd45;
  border-radius: 50%;
}
.roundred {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #db3d23;
  border-radius: 50%;
}
@media (min-width: 1900px) {
.content {
  width: 93%;
}
}