<div class="container">
    <div class="pt-50 ">
        <div class="row">
            <div *ngFor="let line of linedata" class="col-md-3 col-sm-6 mb-25 box-box">
                <div *ngIf="line.type == 'line' ">
                    <div class="box collapsible card-link1">
                        <div class="box-head">
                            <div class="">
                                <span [className]="line.roundclass"></span>

                                <div class="box-head-text pl-0">
                                    <h3>{{line.title}}</h3>
                                    <p>{{line.subtitle}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-mid">
                            <div style="margin-top:1px;">
                                <span>{{line.count}}</span>
                            </div>
                            <p>{{line.countof}}</p>
                        </div>
                        <div class="box-bottom">
                            <div class="row">
                                <div class="col-md-10 col-xs-10">
                                    <div style="display: inline-block;">
                                        <span class="d-arrow">
                                            <svg [attr.style]="line.svgiconstyle" width="24" height="24"
                                                [attr.class]="line.svgcolor">
                                                <image [attr.href]="line.iconimg" height="18" width="18" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div style="display: inline-block;">
                                        <span  style="display: inline-block;" class="per">{{line.period}}</span>
                                        <p class="per-period" style="padding-top:4px;display: inline-block;">{{line.perioddesc}}</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-2">
                                    <!-- <span clas="c-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
                                    <span class="c-down material-icons">
                                        expand_more
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="">
                            <img [src]="line.video" style="width:100%;height:100%" />
                        </div>
                    </div>
                </div>
                <div *ngIf="line.type != 'line' ">
                    <div class="box collapsible">
                        <div class="box-head">
                            <div class="">
                                <span [className]="line.roundclass"></span>
                                <div class="box-head-text pl-0">
                                    <h3>{{line.title}}</h3>
                                    <p>{{line.subtitle}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-mid1">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 p-0">
                                    <div class="s-box">
                                        <div class="s-box-1">
                                            <span>{{line.count}}</span>
                                            <p>{{line.countof}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="s-box br-l">
                                        <div>
                                            <span>{{line.secondcount}}</span>
                                            <p>{{line.secondcountof}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="row">
                                <div class="col-md-10 col-xs-10">
                                    <div style="display: inline-block;">
                                        <span class="u-arrow">
                                            <svg [attr.style]="line.svgiconstyle" width="24" height="24"
                                                [attr.class]="line.svgcolor">
                                                <image [attr.href]="line.iconimg" height="18" width="18" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div style="display: inline-block;">
                                        <span  style="display: inline-block;" class="per">{{line.period}}</span>
                                        <p class="per-period" style="padding-top:4px;display: inline-block;">{{line.perioddesc}}</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-2">
                                    <!-- <span clas="c-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
                                    <span class="c-down material-icons">
                                        expand_more
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="">
                            <img [src]="line.video" style="width:100%;height:100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pb-50">
    <div class="container ">
        <div class="row pt-30">
            <div class="col-lg-9">
                <div class="">
                    <h4 class="sub-head">Incidents report <span class="sub-head1">Last 30 days <i
                                class="fa fa-caret-down" aria-hidden="true"></i></span></h4>
                    <a href="javascript:void(0)" (click)="openNewwindowPage('/incidents')">
                        <span class="sample-btn">Display to Public</span>
                    </a>
                </div>
                <div class="row img-top-ban">
                    <div class="col-md-4">
                        <div class="small-box" style="padding-bottom: 20px;">
                            <div class="s-icon"><span>{{report.addr1}}</span></div>
                            <div class="small-box-text">
                                <h5 style="padding-top:12px;">Violations addressed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="small-box">
                            <div class="s-icon"><span>{{report.addr2}}</span></div>
                            <div class="small-box-text">
                                <h5>Addressed</h5>
                                <span class="sm-text">Minor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="small-box">
                            <div class="s-icon"><span>{{report.addr3}}</span></div>
                            <div class="small-box-text">
                                <h5>Addressed</h5>
                                <span class="sm-text">Major</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="l-side-box">
                    <img src="assets/Capture1.png"
                        style="width:100%;height:100%;padding-right: 35px;padding-left: 20px;" alt="" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row sml-w">
                    <div class="col-lg-7 col-xs-6 r-b-text pr-0">
                        <h4 class="sub-head">Violation alerts</h4>
                    </div>
                    <div class="col-lg-5 col-xs-6 r-b-text text-right pl-0 pt-5">
                        <h4 class="h-text">16 canceled <span>
                                <img src="assets/icons/sort.svg" class="dwn-arr" style="width:23px;height:24px;"
                                    alt="" />
                            </span></h4>
                    </div>
                </div>
                <div class="r-side-box">
                    <div *ngFor="let alert of alerts; index as i;">
                        <div class="box-r-text collapsible1 card-link" (click)="alertclick($event,i)">
                            <div class="text-left">
                                <span class="title-txt">{{alert.title}}</span><br />
                                <span class="title-txt-b">{{alert.place}} | <span class="people">
                                        {{alert.count}}</span></span>
                            </div>
                            <div class="time-left">
                                <span class="time-txt">{{alert.time}}</span><br />
                                <!-- <span class="time-txt-r"><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
                                <span class="time-txt-r c-down material-icons">
                                    expand_more
                                </span>
                            </div>
                        </div>
                        <div class="content2" [attr.id]="'divcontent' +i">
                            <div class="row"
                                style="padding: 15px 2px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;">
                                <div class="col-md-3 col-xs-3">
                                    <span class="u-arrow1">
                                        <a [attr.id]="'#acrvideo' +i" (click)="closepopalerts('video'+i,'#video' +i)"  href="javascript:void(0)" title="Video Library" data-toggle="collapse"
                                            [attr.data-target]="'#video' +i">
                                            <svg  [attr.id]="'svgvideo' +i"  class="svgalert" height="40" width="40" viewBox="0 0 26 26">
                                                <path d="M4,6 L2,6 L2,20 C2,21.1 2.9,22 4,22 L18,22 L18,20 L4,20 L4,6 Z M20,2 L8,2 C6.9,2 6,2.9 6,4 L6,16 C6,17.1 6.9,18 8,18 L20,18 C21.1,18 22,17.1 22,16 L22,4 C22,2.9 21.1,2 20,2 Z M20,16 L8,16 L8,4 L20,4 L20,16 Z M12,5.5 L12,14.5 L18,10 L12,5.5 Z"
                                                  vector-effect="non-scaling-stroke"  />
                                            </svg>                                            
                                        </a>
                                    </span>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <span class="u-arrow1">
                                        <a  [attr.id]="'#acrnotification' +i" (click)="closepopalerts('notification'+i,'')" href="javascript:void(0)" title="Notifications">
                                            <!-- <svg width="30" height="30">
                                                <image (click)="notificationclick($event)"
                                                    href="assets/icons/notifications.svg" height="34" width="34" />
                                            </svg> -->
                                            <svg  [attr.id]="'svgnotification' +i"  class="svgalert"  height="40" width="40" viewBox="0 0 26 26">
                                                <path d="M12,21.75 C13.1,21.75 14,20.85 14,19.75 L10,19.75 C10,20.85 10.9,21.75 12,21.75 Z M18,15.75 L18,10.75 C18,7.68 16.37,5.11 13.5,4.43 L13.5,3.75 C13.5,2.92 12.83,2.25 12,2.25 C11.17,2.25 10.5,2.92 10.5,3.75 L10.5,4.43 C7.64,5.11 6,7.67 6,10.75 L6,15.75 L4,17.75 L4,18.75 L20,18.75 L20,17.75 L18,15.75 Z M16,16.75 L8,16.75 L8,10.75 C8,8.27 9.51,6.25 12,6.25 C14.49,6.25 16,8.27 16,10.75 L16,16.75 Z"
                                                  vector-effect="non-scaling-stroke"  />
                                            </svg> 
                                        </a>
                                    </span>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <span class="u-arrow1" data-toggle="collapse" [attr.data-target]="'#message' +i">
                                        <a  [attr.id]="'#acrmessage' +i" (click)="closepopalerts('message'+i,'#message' +i)"  href="javascript:void(0)" title="Message">
                                            <!-- <svg width="30" height="30">
                                                <image href="assets/icons/message.svg" height="34" width="34" />
                                            </svg> -->
                                            <svg  [attr.id]="'svgmessage' +i" class="svgalert"  height="40" width="40" viewBox="0 0 26 26">
                                                <path d="M4,4 L20,4 L20,16 L5.17,16 L4,17.17 L4,4 L4,4 Z M4,2 C2.9,2 2.01,2.9 2.01,4 L2,22 L6,18 L20,18 C21.1,18 22,17.1 22,16 L22,4 C22,2.9 21.1,2 20,2 L4,2 Z M6,12 L18,12 L18,14 L6,14 L6,12 Z M6,9 L18,9 L18,11 L6,11 L6,9 Z M6,6 L18,6 L18,8 L6,8 L6,6 Z"
                                                  vector-effect="non-scaling-stroke"  />
                                            </svg> 
                                        </a>
                                    </span>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <span class="u-arrow1" data-toggle="collapse" [attr.data-target]="'#close' +i">
                                        <a  [attr.id]="'#acrclose' +i" (click)="closepopalerts('close'+i,'#close' +i)"href="javascript:void(0)" title="Close">
                                            <!-- <svg width="30" height="30">
                                                <image href="assets/icons/cancel.svg" height="34" width="34" />
                                            </svg> -->
                                            <svg  [attr.id]="'svgclose' +i" class="svgalert" height="40" width="40" viewBox="0 0 26 26">
                                                <path d="M12,2 C6.47,2 2,6.47 2,12 C2,17.53 6.47,22 12,22 C17.53,22 22,17.53 22,12 C22,6.47 17.53,2 12,2 Z M12,20 C7.59,20 4,16.41 4,12 C4,7.59 7.59,4 12,4 C16.41,4 20,7.59 20,12 C20,16.41 16.41,20 12,20 Z M15.59,7 L12,10.59 L8.41,7 L7,8.41 L10.59,12 L7,15.59 L8.41,17 L12,13.41 L15.59,17 L17,15.59 L13.41,12 L17,8.41 L15.59,7 Z"
                                                  vector-effect="non-scaling-stroke"  />
                                            </svg> 
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div id="video{{i}}" class="collapse popalerts">
                                <div class="row">
                                    <img src="assets/img1.jpg" style="width:100%;height:100%" />
                                </div>
                            </div>
                            <div id="message{{i}}" class="collapse popalerts">
                                <div class="messag-sub">
                                    <div class="row">
                                        <div class="col-md-7 col-xs-6 pr-0">
                                            <p class="nme">Bill Klein</p>
                                        </div>
                                        <div class="col-md-5 col-xs-6 text-right">
                                            <p class="nme1">12:34pm</p>
                                        </div>
                                    </div>
                                    <p class="pre">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,</p>
                                </div>
                                <div class="messag-sub">
                                    <div class="row">
                                        <div class="col-md-7 col-xs-6 pr-0">
                                            <p class="nme">John Thompson</p>
                                        </div>
                                        <div class="col-md-5 col-xs-6 text-right">
                                            <p class="nme1">12:34pm</p>
                                        </div>
                                    </div>
                                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam,</p>
                                </div>
                               
                                <div class="snd-box">
                                    <div class="inner-addon right-addon">
                                        <!-- <svg width="24" height="24" class="send-svg">
                                            <image (click)="closepopalerts('')" href="assets/icons/send.svg"  height="24" width="24" />
                                        </svg> -->
                                        <svg (click)="closepopalerts($event,'')" height="24" width="24" viewBox="0 0 24 24" class="send-svg">
                                            <path d="M3.51,6.03 L11.02,9.25 L3.5,8.25 L3.51,6.03 L3.51,6.03 Z M11.01,14.75 L3.5,17.97 L3.5,15.75 L11.01,14.75 L11.01,14.75 Z M1.51,3 L1.5,10 L16.5,12 L1.5,14 L1.51,21 L22.5,12 L1.51,3 Z"
                                              vector-effect="non-scaling-stroke"  />
                                        </svg> 
                                        <input type="text" class="form-control txtcontrol" placeholder="Enter comment" />
                                    </div>
                                </div>
                            </div>
                            <div id="close{{i}}" class="collapse popalerts">
                                <div class="messag-sub">
                                    <div class="row">
                                        <div class="col-md-7 col-xs-6 pr-0">
                                            <p class="nme">John Thompson</p>
                                        </div>
                                        <div class="col-md-5 col-xs-6 text-right">
                                            <p class="nme1">12:34pm</p>
                                        </div>
                                    </div>
                                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam,</p>
                                </div>
                                <div class="messag-sub">
                                    <div class="row">
                                        <div class="col-md-7 col-xs-6 pr-0">
                                            <p class="nme">Bill Klein</p>
                                        </div>
                                        <div class="col-md-5 col-xs-6 text-right">
                                            <p class="nme1">12:34pm</p>
                                        </div>
                                    </div>
                                    <p class="pre">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,</p>
                                </div>
                                <div class="snd-box">
                                    <div class="inner-addon right-addon">
                                        <!-- <svg width="24" height="24" class="send-svg">
                                            <image (click)="closepopalerts('')" href="assets/icons/send.svg" height="24" width="24" />
                                        </svg> -->
                                        <svg (click)="closepopalerts($event,'')" height="24" width="24" viewBox="0 0 24 24" class="send-svg">
                                            <path d="M3.51,6.03 L11.02,9.25 L3.5,8.25 L3.51,6.03 L3.51,6.03 Z M11.01,14.75 L3.5,17.97 L3.5,15.75 L11.01,14.75 L11.01,14.75 Z M1.51,3 L1.5,10 L16.5,12 L1.5,14 L1.51,21 L22.5,12 L1.51,3 Z"
                                              vector-effect="non-scaling-stroke"  />
                                        </svg> 
                                        <input type="text" class="form-control txtcontrol" placeholder="Enter comment" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>