@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body {
    padding:0px;margin:0px;
    background-color:#f6f6f6;
    font-family:Roboto;
}
.pt-0 {padding-top: 0px;}.pt-10 {padding-top: 10px;}.pt-15 {padding-top: 15px;}.pt-5{padding-top:5px !important;}
.pt-20 {padding-top: 20px;}.pt-25 {padding-top: 25px;}.pt-30 {padding-top: 30px;}.pt-40 {padding-top: 40px;}
.pt-50 {padding-top: 50px;}.pt-60 {padding-top: 60px;}.pt-70 {padding-top: 70px;}.pt-80 {padding-top: 80px;}.pt-90 {padding-top: 90px;}
.pt-100 {padding-top: 100px;}.pt-120 {padding-top: 120px;}.pt-150 {padding-top: 150px;}.pt-170 {padding-top: 170px;}.pb-0 {padding-bottom: 0px;}
.pb-10 {padding-bottom: 10px;}.pb-15 {padding-bottom: 15px;}.pb-20 {padding-bottom: 20px;}.pb-25 {padding-bottom: 25px;}
.pb-30 {padding-bottom: 30px;}.pb-40 {padding-bottom: 40px;}.pb-50 {padding-bottom: 50px;}.pb-60 {padding-bottom: 60px;}
.pb-70 {padding-bottom: 70px;}.pb-80 {padding-bottom: 80px;}.pb-90 {padding-bottom: 90px;}.pb-100 {padding-bottom: 100px;}.pb-120 {padding-bottom: 120px;}
.header{background-color:#0072bc;padding:20px;height:70px;}
.logo-s img{width:13%;}
.logo-t {
    position: absolute;
    border-left: 1px solid #fff;
    margin-left: 13px;
    padding-left: 13px;   
    top:4px;   

    width: 155px;
height: 24px;
font-family: Roboto;
font-size: 12px;
color: #ffffff;
text-decoration: none solid rgb(255, 255, 255);
line-height: 12px;
}
.h-logo{position:relative;height:35px;}
.h-logo img{height:100%;}
.icon-r span {
    color: #fff;
    padding-left: 13px;
    font-size: 20px;
}
.round {
    position:absolute;
    width: 40px;
height: 40px;
    background-color: #1dbd45;
    border-radius: 50%;
}
.round1 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #db3d23;
    border-radius: 50%;
}
.box-head-text {
    position: relative;
    left: 45px;
    padding-right:35PX;
    margin-left: 16px;
}
.box-head-text h3 {
   /* width: 134px;  screen */ 
height: 20px;
font-family: Roboto;
font-size: 20px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
line-height: 20px;
    margin: 0px;
    font-family: Roboto;
}

.box-head-text p {
   /* width: 134px; screen*/
height: 20px;
font-family: Roboto;
font-size: 14px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
line-height: 20px;
    margin: 0px;
}
.box-head {    
   /* width: 344px; screen */
    height: 72px;
    border-bottom: 1px solid #bbb;
    padding: 13px;
}
.box{
    background-color:#fff;
}
.box-mid {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    
     /* width: 344px; screen */
     height: 128px;
}
    .box-mid span {
       /* width: 106px; */
height: 64px;
font-family: Roboto;
font-size: 60px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
text-align: center;        
    }
    .box-mid p {
       /* width: 141px; */
height: 20px;
font-family: Roboto;
font-size: 14px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
line-height: 20px;
text-align: center;      
margin-top:-10px;  
    }
.box-bottom {
   /* width: 344px; */
height: 56px;
    padding: 20px;
    border-top: 1px solid #bbb;
}
.d-arrow .fa {
    background-color: #1dbd45;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
}
.u-arrow .fa {
    background-color: #db3d23;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
}
.u-arrow1 .fa {
    text-align: center;
    font-size: 25px;
    color: #455565;
}
span.per {
   /* width: 44px; */
height: 20px;
font-family: Roboto;
font-size: 18px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
   
    padding-left: 7px;
    font-family: Roboto;
    font-weight: bold;
}
.per-period{
    width: 197px;
height: 20px;
font-family: Roboto;
font-size: 14px;
color: #000000;
text-decoration: none solid rgba(0, 0, 0, 0.6);
}
.p-0{padding:0px;}
.box-bottom p {
    margin: 0px;
    color: #636161;
    font-size: 14px;
    font-family: Roboto;
    width:205px;
    padding-left: 12px;
    text-decoration: none solid rgba(0, 0, 0, 0.6);
   /* margin-left: -20px; */
}
.c-down{
  color: #455565;
}
.mb-25{margin-bottom:25px;}
.box-mid1{
    padding:10px;
    height: 128px;
}
.s-box {
    margin: 0 auto;
    text-align: center;
}

    .s-box span {
          /* width: 140px; */
height: 64px;
font-family: Roboto;
font-size: 60px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
text-align: center;  
position:relative;
top:-9px;     
    }
.br-l{
    border-left:1px solid #bbb;
    padding-top: -10px;
    padding-bottom: -10px;
}
.s-box p {
   /* width: 140px; */
height: 20px;
font-family: Roboto;
font-size: 14px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
line-height: 20px;
text-align: center;
    margin: 0px;
    margin-top:-10px;
    position:relative;top:-10px;
}
@media (max-width: 1200px) and (min-width: 768px) {
    .s-box span{font-size:50px;}
    .box-mid1{padding:20px;}
    

}
@media (max-width: 767px){
    .logo-s img{width:35%}
}
@media (max-width: 375px) {
    .logo-s img {
        width: 45% !important;
    }
}

.pl-0{padding-left:0px;}

.s-box {
    margin: 0 auto;
    text-align: center;
}
.s-icon {
    position: absolute;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 600;
    color:#455565;
    padding-left: 24px;    
font-family: Roboto;
font-size: 34px;
text-decoration: none solid rgb(69, 85, 101);
}
.small-box-text {
    padding-left: 55px;
    padding-top: 8px;
    /* width: 86%; */
    font-family: Roboto;
    line-height: 11px;
    color: #455565;
}
.sapmle-bb{text-align:justify;}
.small-box {
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 15px 10px;
    height: 84px;
    border-bottom: 1px solid #ccc;
}
span.sm-text {
    font-size: 15px;
    color:#455565;
    font-family: Roboto;
    padding-left: 21px;
text-decoration: none solid rgb(69, 85, 101);
}
.l-side-box {
    border: 1px solid #ccc;
    border-top: none;
    padding: 15px 0px;
    background-color: #fff;
}
.h-text span{padding-left:5px;}
.h-text{
  /*  width: 84px; */
height: 19px;
font-family: Roboto;
font-size: 14px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
text-align: right;
}
.h-text .fa{padding-left:13px;color:#000;}
.box-r-text {
    background-color: #fff;
    border-bottom:1px solid #ccc;
    padding: 15px 10px;
    height: 84px;
}
.time-left{float:right;position:relative;top:-40px;right:-10px;line-height:13px;}
span.title-txt {
    font-size: 20px;
    font-family: Roboto;
    color: #455565;
    font-weight: 600;
    padding-left: 14px;
}
span.title-txt-b {
    font-size: 14px;font-family:Roboto;
    padding-left: 16px;
}
.time-txt {
    color: #455565;
    padding-right: 16px;
    font-size: 14px;
    font-family: Roboto;
    color: #455565;
}
.time-txt-r{float:right;padding-right:16px;font-size: 24px;}

@media (max-width: 988px) {
    .dwn-arr {
        width: 6% !important;
    }
}
.content2 .row .col-md-3, .col-xs-3{
   /* text-align:center; */
}

@media (max-width: 425px) {
    /*.h-logo{width:50%;}
    .logo-t{font-size:13px}
    .text-right{position:relative;top:-24px;}*/
    .small-box{border-bottom:1px solid #ccc;}
    
}
@media (min-width: 767px){
    .content1{width:91%}
}
@media (min-width: 768px){
    .box-out{max-width:19.666667%;float:left;}
    .box-out-1{margin-left:0%;}
    .content1{width:94%}
    
}
.col-xs-4{float:left;width:33.33333333%;}
.col-xs-3{width:25%;}
.col-xs-6 {
    float: left;
    
}
.col-xs-2 {
    width: 16.666667%;
    float: left;
}
@media (max-width: 1023px) and (min-width: 564px) {
    .col-sm-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media (max-width: 1023px) and (min-width: 768px){
    .s-icon{font-size:30px;}
    .small-box-text{padding-left:40px;}
        .small-box-text h5{font-size:17px !important;}
    span.sm-text{font-size:14px;}
}
@media (min-width: 998px) {
    .l-side-box {
        height: 370px;
        padding:8px 0px !important;
    }
}
@media (max-width: 767px) {
    .sample-btn {
        position: relative !important;
        right: 0px !important;
        display: inline-block;
        top: -6px !important;
    }
}
@media (max-width: 767px) {
    .sml-w {
        padding-top: 15px;
    }
} 

.round-icon {
    position: absolute;
    font-weight: 600;
    font-size: 25px;
    padding: 0px 0px 0px 0px;
    color:#455565;
}
.img-top-ban{margin-left:0px;margin-right:0px;}
.img-top-ban .col-md-4{padding:0px;}
.small-box-text h5{
    font-size:20px;line-height:15px;margin-bottom:9px;padding-left: 21px;
    text-decoration: none solid rgb(69, 85, 101);
}
.sample-btn {
    position: absolute;
    top: -9px;
    font-family: roboto;
    /* float: right; */
    box-shadow: 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12), 0px 1px 3px rgba(0,0,0,0.2);
    line-height: 16px;
    right: 20px;
    background-color: #0072bc;
    color: #fff;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 146px;
font-size: 14px;
text-decoration: none solid rgb(255, 255, 255);
text-align: center;
white-space: nowrap;
}
.main-head.pb-30 {
    font-family: Roboto;
    font-size: 40px;
    color: #455565;
}
.sub-head{
   /* width: 194px; */
height: 30px;
font-family: Roboto;
font-size: 24px;
color: #455565;
text-decoration: none solid rgb(69, 85, 101);
font-weight: bold;
}

.sub-head1 {
    width: 91px;
height: 19px;
font-family: Roboto;
font-size: 16px;
color: #0072bc;
text-decoration: none solid rgb(0, 114, 188);
    
    padding-left: 16px;
    font-weight: 300;
}
.sub-head1 .fa{color:#7d7878;padding-left:8px;}
.people{font-style:italic;color:#db3d23;}



.collapsible1 {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible1:hover {
        background-color: #fff;
    }

.content2 {
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #ddd;
    padding: 0 18px;
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    top: -21px;
    margin-bottom: -21px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.green {
    background-color: #1dbd45;
    border-radius: 50%;
    padding: 3px;
}
.red {
    background-color: #db3d23;
    border-radius: 50%;
    padding: 3px;
}

.graph-box{background-color:#fff;padding:25px 15px;}
.graph-box .row{margin:0px;text-align:center;}
.graph-box h6{font-size:13px;color:#455555; }
.graph-box .num-t{font-size:28px;color:#455555;}
.left-grapgh{padding:15px;background-color:#fff;box-shadow: 0px 0px 19px -3px #d8d6d6;border-radius:4px;margin-bottom:15px;}
.left-grapgh h4{color:#455555;}
.right-map{padding:15px;background-color:#fff;box-shadow: 0px 0px 19px -3px #d8d6d6;border-radius:4px; }
.right-map h4{color:#455555;}

@media (max-width: 1200px) and (min-width: 990px){
    .graph-box{height:340px;}
}
@media (max-width: 767px) {
    .header{padding-right:0px;}
    .user-b{border:none !important;}
    .userbox{display:none;}
    .dropdown-toggle::after {
        margin-top: 10px !important;margin-right:0px !important;font-size:25px;
    }
    .dropdown-menu.show{
        left: -50px !important;
    }
    .name-txt{display:none;}
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.userbox {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;margin-left:10px;
}
.userbox img{
    padding: 7px;
    width:100%;
    height:100%;
}
.userbox1 {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display:inline-block;margin-right:8px;
}
.userbox1 img{
    padding: 7px;
    width:100%;
    height:100%;
}
.alluser{display:inline-block;padding:5px;}
.mn-txt {
    color: #fff;
    font-size: 14px;
}
.rl-txt {
    position: relative;
    top: -3px;
    font-size: 11px;
    float: left;
}
.dropdown-toggle::after{color:#fff;margin:auto 10px;}
.user-b{display:flex;border-right:1px solid #ddd;}
.dropdown-item.active, .dropdown-item:active {
    background-color: #455565;
}
.alluser .mn-txt{display:inline-block;color:#455565;}
.nav-link{padding:.5rem 12px;}

.messag-sub{font-size:12px;border-bottom:1px solid #ddd;padding-top:12px;}
.nme {
    color: #0072bc;
    margin-bottom: 0px;font-size:13px;
}
.nme1{color:#455565;margin-bottom:0px;font-size:13px;}
.messag-sub p{padding:5px 5px 0px 5px;}
.inner-addon {
    position: relative;
}               
    /* style glyph */
    .inner-addon .fa {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align glyph */
.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
    border: 1px solid #c8c8c8;
    font-size:12px;
}

.snd-box {
    padding: 10px 20px;
    background-color: #ebebeb;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -1px;
}

.pl-0{padding-left:0px;}
.pr-0{padding-right:0px;}
.send-svg {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    padding-top: 3px;
}



@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 85%;
    }
}
.u-arrow1 svg {
fill: rgba(69, 85, 101, 0.5);
}
.u-arrow1 svg.active {
    fill: #0072BC;
    }
.u-arrow1 svg:hover {
   fill: #0072BC;
    /* filter: invert(36%) sepia(54%) saturate(7170%) hue-rotate(186deg) brightness(89%) contrast(106%); */
}
.send-svg{
    fill:rgba(69, 85, 101, 0.5);
}
.send-svg:hover {
    fill: #0072BC;
    /*filter: invert(36%) sepia(54%) saturate(7170%) hue-rotate(186deg) brightness(89%) contrast(106%); */
}
.pre {
    padding: 5px 5px 0px 5px;
}
.tooltip > .tooltip-inner {
    background-color:#455565;
    color: #FFFFFF;
    padding: 5px;
    font-size: 16px;
}
.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}
.tooltip {border:none;}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{border-top-color:#455565;}
.tooltip.show{opacity:1;}








.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

@media (max-width: 1900px) and (min-width: 990px){
    .sub-head{
        /* width: 194px; */
     font-size: 22px;
     }
}
@media  (min-width: 1800px){
     .box-head-text h3 {
       /* width: 134px;   */
     }
     .box4 {
         margin-left: -18px;
     }
     
     .box-head-text p {
     width: 134px; 
     padding-top: 5px;
     }
     .box-head {    
        /* width: 344px; */
     }
     .box-mid {
         width: 344px;
     }
         .box-mid span {
             width: 106px;  
         }
         .box-mid p {
           /*  width: 141px;   */
         }
     .box-bottom {
        /* width: 344px; */
         padding-top: 13px;
         padding-right: 0px;
     }
     .sub-head{
         width: 194px;
     }
     .l-side-box{
         height: 504px;
     }
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color:#455565;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}
