<div class="container">
    <div class="pt-50 ">
        <div class="row">
            <div *ngFor="let line of linedata" class="col-md-3 col-sm-6 mb-25 box-box">
                <div *ngIf="line.type == 'line' ">
                    <div class="box collapsible card-link1">
                        <div class="box-head">
                            <div class="">
                                <span [className]="line.roundclass"></span>

                                <div class="box-head-text pl-0">
                                    <h3>{{line.title}}</h3>
                                    <p>{{line.subtitle}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-mid">
                            <div style="margin-top:1px;">
                                <span>{{line.count}}</span>
                            </div>
                            <p>{{line.countof}}</p>
                        </div>
                        <div class="box-bottom">
                            <div class="row">
                                <div class="col-md-10 col-xs-10">
                                    <div style="display: inline-block;">
                                        <span class="d-arrow">
                                            <svg [attr.style]="line.svgiconstyle" width="24" height="24"
                                                [attr.class]="line.svgcolor">
                                                <image [attr.href]="line.iconimg" height="18" width="18" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div style="display: inline-block;">
                                        <span  style="display: inline-block;" class="per">{{line.period}}</span>
                                        <p class="per-period" style="padding-top:4px;display: inline-block;">{{line.perioddesc}}</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-2">
                                    <!-- <span clas="c-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
                                    <span class="c-down material-icons">
                                        expand_more
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="">
                            <img [src]="line.video" style="width:100%;height:100%" />
                        </div>
                    </div>
                </div>
                <div *ngIf="line.type != 'line' ">
                    <div class="box collapsible">
                        <div class="box-head">
                            <div class="">
                                <span [className]="line.roundclass"></span>
                                <div class="box-head-text pl-0">
                                    <h3>{{line.title}}</h3>
                                    <p>{{line.subtitle}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="box-mid1">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 p-0">
                                    <div class="s-box">
                                        <div class="s-box-1">
                                            <span>{{line.count}}</span>
                                            <p>{{line.countof}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="s-box br-l">
                                        <div>
                                            <span>{{line.secondcount}}</span>
                                            <p>{{line.secondcountof}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-bottom">
                            <div class="row">
                                <div class="col-md-10 col-xs-10">
                                    <div style="display: inline-block;">
                                        <span class="u-arrow">
                                            <svg [attr.style]="line.svgiconstyle" width="24" height="24"
                                                [attr.class]="line.svgcolor">
                                                <image [attr.href]="line.iconimg" height="18" width="18" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div style="display: inline-block;">
                                        <span  style="display: inline-block;" class="per">{{line.period}}</span>
                                        <p class="per-period" style="padding-top:4px;display: inline-block;">{{line.perioddesc}}</p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 col-xs-2">
                                    <!-- <span clas="c-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span> -->
                                    <span class="c-down material-icons">
                                        expand_more
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="">
                            <img [src]="line.video" style="width:100%;height:100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pb-50">
    <div class="container ">
        <div class="row pt-30">
            <div class="col-lg-6">
                <div class="left-grapgh">
                    <h4>Incidents Report - Graph</h4>
                    <div class="graph-box">
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Total Safety Violations</h6>
                                <span class="num-t">58</span>
                            </div>
                            <div class="col-md-4">
                                <h6>Violations Addressed</h6>
                                <span class="num-t">42</span>
                            </div>
                            <div class="col-md-4">
                                <h6>Alerts Cancelled</h6>
                                <span class="num-t">16</span>
                            </div>
                        </div>
                        <div class="graph-img">
                            <img src="assets/graph.png" style="width:100%;height:100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-map">
                    <h4>Incidents Report - Map</h4>
                    <div class="map-img">
                        <img src="assets/map.png" style="width:100%;height:100%;" />
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>